* {
            margin: 0;
            padding: 0;
        }

        #main_wrap {
            width: 500px;
            margin: 0 auto;
            margin-top: 15px;
            background-color: #eda39b;
            border: 1px solid #DDD;
            border-radius: 5px;
            padding: 15px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -250px;
            margin-top: -250px;
        }

        .title {
            font-size: 24px;
        }

        hr {
            border: 0;
            /*border-top: 1px  black;*/
            margin: 10px 0;
        }

        .regBox>form>table {
            width: 100%
        }

        .regBox>form>table td {
            width: 25%;
            padding: 5px;
        }

        .input {
            width: 100%;
            font-size: 14px;
            border: 0;
            border-bottom: 1px solid black;
            background-color: transparent;
            padding: 3px;
        }


        input[type=submit] {
            background-color: white;
            border: 1px solid;
        }

        #memberlist>table {
            border-collapse: collapse;
            margin: 10px 0;
            width: 100%;
        }

        #memberlist>table tr {
            border-bottom: 1px solid;
        }

        #memberlist>table>thead {
            font-weight: 800;
        }

        #memberlist>table td {
            text-align: center;
            font-size: 15px;
            padding: 2px;
        }

        #listTable a {
            cursor: pointer;
        }

        #listTable a:hover {
            text-decoration: underline;
        }

        #editBox {
            width: 300px;
            background-color: #f8cbc6;
            padding: 20px;
            border-radius: 15px;
            border: 2px solid #838383;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -150px;
            display: none;
        }
        #editBox table {
            width: 100%;
        }
        
        #editBox a {
            text-decoration: none;
            font-size: 15px;
            float: right;
            padding: 0 10px;
            color: black;
        }

        #editBox a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        #editBox td {
            padding: 5px;
        }

        #editBox td:first-of-type {
            font-size: 15px;
        }

        #editBox form {
            margin: 15px;
        }
        
        #editBox input[type=submit] {
            line-height: 20px;
        }