/* 폰트 import */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header 영역 스타일 */
#header_wrap {
    background: linear-gradient(-1deg, #3b5998, #4a66a0);
}

#header {
    width: 980px;
    height: 78px;
    padding: 13px 0 0;
    margin: auto;
}

#logo > a {
    padding: 30 0px;
    font-size: 37px;
    font-weight: bold;
    position: absolute;
    color: white;
    margin: 17px 0 0;
}

#login {
    float: right;
    font-size: 12px;
    color: white;
}

#login > form > table > tr > td {
    padding: 4px 0 0 14px;
}


#login > form > table input {
    width: 142px;
    padding: 3px 3px 4px;
    border: 1px solid black;
    background-color: white;
}

#login > form > table input[type=submit] {
    width: 50px;
    height: 24px;
    font-size: 12px;
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    line-height: 18px;
    padding: 2px 6px;
    border-radius: 2px;
}

#login > form > table a {
    color: #9cb4d8;
}

/* header 영역 스타일 끝 */

/* content 영역 스타일 */

#content_wrap {
    overflow: hidden;
    background: linear-gradient(-1deg, #D4D9E9, white);
    margin-bottom: 30px;
}

#content {
    margin: auto;
    width: 980px;
}

#img {
    float: left;
    width: 50%;
}

#img > div {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    width: 450px;
    margin: 40px 0 0;
    font-family: 'Nanum Gothic';
}

#join {
    float: right;
    width: 40%;
}

#join > div:first-child {
    padding: 20px 0;
}

#join > form > table input {
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 5px 5px 0;
}

#first_name,
#name {
    width: 172px;
}

#pw,
#num {
    width: 377px;
}

#birthday > p,
#s > p {
    margin: 10px 0 5px;
    color: #90949c;
    font-weight: bold;
}

#join > div > select {
    border: 1px solid #ccd0d5;
    padding: 3px;
}

#month,
#day {
    margin-left: -4px;
}


#s > span {
    margin: 0 4px 0 0;
    padding: 5px 0 5px 4px;
}

#s > span > input[type=radio] {
    background-color: white;
    margin: 3px 3px 0 5px;
}

#s > span > label {
    font-size: 18px;
    padding: 0 10px 0 3px;
}

#terms {
    margin: 11px 0;
    color: #777;
    font-size: 11px;
    width: 316px;
}

#terms > a {
    color: #385898;
}

#terms > a:hover {
    text-decoration: underline;
}

#join_btn {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    border: 1px solid #2c5115;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    font-size: 19px;
    box-shadow: inset 0 1px 5px #a4e388;
}

#join_btn:hover {
    box-shadow: inset 0 2px 8px #b2eb98;
}

#join > p:last-child {
    margin: 10px 0 30px;
    padding: 15px 0 0;
    color: #666;
    font-size: 13px;
    font-weight: bold;
}

#join > p:last-child > a {
    color: #385898;
}

#join > p:last-child > a:hover {
    text-decoration: underline;
}

.q {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #606770;
    border-radius: 50%;
    color: white;
    font-size: 14px;
}

/*  content 영역 끝 */

/* footer 영역 스타일 */
#footer {
    clear: both;
    width: 980px;
    margin: auto;
}

#footer > div {
    border-bottom: 1px solid #dddfe2;
    clear: both;
    margin: 10px 0;
}

#footer > ul {
    list-style: none;
}

#footer > ul > li {
    float: left;
    padding: 0 15px 10px 0px;
    font-size: 12px;
    color: #737373;
}

#footer > ul > li > a {
    color: #385898;
}

#footer > ul > li > button {
    width: 30px;
    height: 20px;
    font-size: 20px;
    line-height: 10px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    color: #4b4f56;
    border-radius: 3px;
}

#footer > span {
    padding-top: 10px;
    clear: both;
    display: block;
    color: #737373;
    font-size: 11px;
    font-weight: bold;
}

#footer > ul > li > a:hover {
    text-decoration: underline;
}