       * {
           margin: 0;
           padding: 0;
           font-family: '돋움';
       }

       body {
           background-color: #f5f6f7;
       }

       a {
           text-decoration: none;
       }

       #header,
       #contents,
       #footer {
           /*width: 768px;*/
           margin: 0 auto;
       }

       #header {
           text-align: center;
           padding: 62px 0 20px;
       }

       #header > a {
           background-image: url(https://static.nid.naver.com/images//ui/join/m_naver_logo.png);
           background-repeat: no-repeat;
           background-size: 240px auto;
           display: inline-block;
           width: 240px;
           height: 44px;
       }

       #contents h3 {
           font-size: 14px;
           margin: 19px 0 8px;
       }

       #contents div {
           width: 460px;
           margin: 0 auto;
       }

       #contents span {
           display: block;
           background-color: white;
           border: 1px solid #dadada;
           padding: 10px 14px;
       }

       #contents input,
       select {
           border: 0;
           font-size: 15px;
           height: 30px;
       }

       #contents h5,#contents h4 {
           color: red;
           font-size: 12px;
           margin: 9px 0 -2px;
           font-weight: normal;
       }

       #id_div input {
           width: 65%;
           padding: 0 25px 0 0;
       }

       #userId + span {
           display: inline;
           border: 0;
           color: #8e8e8e;
       }

       #userPw,
       #userPwc {
           width: 92%;
       }

       #userPw + label span {
           background-image: url(https://static.nid.naver.com/images/ui/join/pc_icon_pass_180417.png);
           background-repeat: no-repeat;
           background-size: 18px;
           border: 0;
           display: inline-block;
           vertical-align: middle;
       }

       #userPwc + label span {
           background-image: url(https://static.nid.naver.com/images/ui/join/pc_icon_check_disable_180417.png);
           background-repeat: no-repeat;
           border: 0;
           display: inline-block;
           vertical-align: middle;
       }

       #userName,
       #brith_div input,
       select,
       #userEmail {
           width: 100%;
       }

       #brith_div span {
           width: 25%;
           display: inline-block;
       }

       .brith_span {
           display: inline;
           padding: 0 0 0 7px;
       }

       .brith_span:first-child {
           padding: 0;
       }

       #email_div span:nth-child(1) {
           border: 0;
           display: inline;
           background-color: transparent;
           font-size: 12px;
           font-weight: 400;
           color: #8e8e8e;
           margin-left: -12px;
       }

       #phone_div div {
           margin: 10px 0 0 0;
           width: 430px;
       }

       #phone_div div span {
           display: inline-block;
           width: 70%;
       }

       #phone_div div:last-child span {
           width: 100%;
           background-color: #f7f7f7;
       }

       #phone_div div:last-child span input {
           background-color: #f7f7f7;
       }

       #phone_div input {
           width: 100%
       }

       #phone_div input[type=button] {
           background-color: #08a600;
           color: white;
           width: 115px;
           height: 50px;
           margin-right: -30px;
           float: right;
           cursor: pointer;
       }

       #btn input {
           width: 100%;
           display: block;
           background-color: #08a600;
           color: white;
           font-size: 20px;
           font-weight: 700;
           text-align: center;
           cursor: pointer;
           margin: 20px 0;
           height: 60px;
       }


       #footer {

           padding: 30px 0 15px;
           text-align: center;
       }

       #footer a {
           color: #333333;
           font-size: 12px;
       }

       #footer a:hover {
           color: #438a01;
           text-decoration: underline;
       }

       #footer ul {
           list-style: none;
           display: inline-block;
       }

       #footer li {
           float: left;
           padding: 0 8px 0 0;
       }