       * {
           margin: 0;
           padding: 0;
           font-family: '돋움';
       }

       a {
           text-decoration: none;
       }

       input[type=checkbox] {
           position: absolute;
           visibility: hidden;
       }

       label {
           cursor: pointer;
       }

       body {
           background-color: #f5f6f7;
       }

       #header,
       #terms,
       #footer {
           width: 768px;
           margin: 0 auto;
       }

       #header {
           text-align: center;
       }

       #header > div {
           text-align: right;
       }

       #header > div > select {
           margin: 16px 0;
           padding: 6px 8px 5px 7px;
           color: #333;
           border: 1px solid #ccc;
           cursor: pointer;
           font-size: 12px;
           height: 30px;
           width: 98px;
           appearance: none;
           -moz-appearance: none;
           -webkit-appearance: none;
           background-color: white;
           background-image: url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif);
           background-repeat: no-repeat;
           background-position: right;
           background-size: 20px 8px;
       }

       #header > a {
           background-image: url(https://static.nid.naver.com/images//ui/join/m_naver_logo.png);
           background-repeat: no-repeat;
           background-size: 240px auto;
           display: block;
           width: 240px;
           height: 44px;
           display: inline-block;
           color: transparent;
           padding: 0 0 59px;
       }

       #terms {
           font-size: 14px;
           font-weight: 700;
           width: 460px;
       }

       #terms_wrap {
           width: 460px;
       }

       #all span {
           text-decoration: underline;
           display: inline-block;
           margin: 0 0 0 34px;
           line-height: 20px;
       }

       #all > label {
           background-image: url(https://static.nid.naver.com/images/ui/myinfo/pc_check_off_24.png);
           background-repeat: no-repeat;
           background-position: 0 0;
           padding: 15px 0;
       }

        

       .check > label {
           background-image: url(https://static.nid.naver.com/images/ui/myinfo/pc_chcek_off_s_20.png);
           background-repeat: no-repeat;
           background-position: 0 0;
           padding: 5px 0;
       }

       .check span:first-of-type {
           display: inline-block;
           margin: 0 0 0 30px;
           line-height: 20px;
       }

       .check {
           padding: 30px 0 0;
       }

       .check span:last-of-type {
           font-size: 12px;
           font-weight: 400;
           margin-left: -3px;

       }

       .re {
           color: #08a600;
       }

       .ch {
           color: #8e8e8e;
       }

       .text {
           height: 80px;
           margin: 8px 0 0;
           padding: 12px;
           overflow-y: scroll;
           font-size: 12px;
           border: 1px solid #dadada;
           background-color: white;
           font-weight: normal;
           color: #666;
       }

       #btn_wrap {
           margin: 29px -5px 0;
           overflow: hidden;
       }

       #btn_false,
       #btn_true {
           margin: 0px 5px;
           font-size: 20px;
           font-weight: 700;
           color: white;
           width: 225px;
           height: 61px;
           border: 0;
           background-color: #8e8e8e;
           display: inline-block;
           line-height: 61px;
           text-align: center;
           cursor: pointer;
       }

       #btn_false {
           float: left;
       }

       #btn_true {
           background-color: #08a600;
       }

       .check p {
           color: red;
           margin: 8px 0 -1px;
           font-size: 12px;
           font-weight: normal;
           display: none;
       }

       #btn_wrap + p {
           text-align: center;
           font-weight: normal;
           margin: 16px 0 8px;
           color: #666666;
           font-size: 12px;
       }

       #btn_wrap + p > a {
           text-decoration: underline;
           color: #333;

       }

       #footer {

           padding: 30px 0 15px;
           text-align: center;
       }

       #footer a {
           color: #333333;
           font-size: 12px;
       }

       #footer a:hover {
           color: #438a01;
           text-decoration: underline;
       }

       #footer ul {
           list-style: none;
           display: inline-block;
       }

       #footer li {
           float: left;
           padding: 0 8px 0 0;
       }